{%  extends 'index.html' %}
{%  load comments %}
<!DOCTYPE html>
<html>

		<body>
		{% block page-content%}
<style type="text/css">
/*
.profile_photo {
	height:50px;
	width:50px;
	margin-top:-15px;
}

.profile_photo_child_comment {
        height:35px;
        width:35px;
        margin-top:-10px;
}


.profile_photo_intro {
        height:50px;
        width:50px;
}
*/
</style>
		<div class="container min-height">
			<div class="row-fluid">
				<div class="span8">
					<div class="blog-post">
						<div class="info">
							<h4 style="padding:10px;background-color:{{bbs_obj.color_type}}">{{ bbs_obj.title }} <span style="font-size:12px" >|{{ bbs_obj.publish_date|date:"Y-m-j H:i" }} &nbsp;作者:{{bbs_obj.author}} </span> </h4>
							<p id="content_{{bbs_obj.id}}">
							</p>
						</div>
						<div class="bottom">
							<div class="pull-right">{% get_comment_count for bbs_obj as comment_count %}
								<i class="icon-calendar"></i> {{ bbs.publish_date|date:"Y-m-j H:i" }}
								<span class="marginlr5">|</span><i class="icon-comment"></i>浏览({{bbs_obj.view_count }})
                                                                <span class="marginlr5">|</span><i class=" sf-icon-comment-2"></i> 评论({{comment_count}})
                                                                <span class="marginlr5">|</span><i class=" sf-icon-thumbs-up-1"></i> 赞<span id="agree_count">({{ bbs_obj.agree_count}})</span> 
							</div>
						</div>
						
<!-- sub msg-->
						<form id="sf-form" action='/addcomment/' method="POST">
						   {% if login_user.is_authenticated %}
								<div class="row no-margin">
								  <div class="span12">
									<textarea rows="3" id="comment" name="message" placeholder="Message..." class="span12 required sf-tooltip" rel="tooltip" data-placement="top" data-title="Message..."></textarea>
								  </div>

								</div>
						   {%else%}
		
                                                        <div class="span4">
                                                                <input type="text" id="name" name="name" placeholder="Name" class="span12 required sf-tooltip" rel="tooltip" data-placement="top" data-title="Name">
                                                        </div>
                                                        <div class="span4">
                                                                <input type="text" id="email" name="email" placeholder="email" class="span12 required email sf-tooltip" rel="tooltip" data-placement="top" data-title="email">
                                                        </div>
							<div class="row no-margin">
								<div class="span12">
									<textarea rows="3" id="comment" name="message" placeholder="Message..." class="span12 required sf-tooltip" rel="tooltip" data-placement="top" data-title="Message..."></textarea>
								</div>

							</div>
						  {%endif%}
						<input type="hidden" value="{{bbs_obj.id}}" name="bbs_id"> 
                                                <button class="btn btn-success">发布</button>
                                                <i class=" sf-icon-thumbs-up-1"></i><a href="javascript:void(0);" onclick="agree()" id="agree_button" >赞一个</a>
                                        	</form> <br/>
						{% get_comment_list for bbs_obj  as comment_list%}
						{% for comment in comment_list reversed%}
						  {% if comment.ip_address %} <!--test if this comment is a child comment -->
						  {%else%}
							<div id="{{ comment.id}}" style="margin-top:0px"> 
							   {% if comment.web_user%}
								<img class="profile_photo" src="/static/{{ comment.web_user.photo}}"><span style="font-size:50px">|</span>
							   {%else%}
								<i class="sf-icon-user-3" style="font-size:50px" >|</i>
							   {%endif%}
								<div style="margin-left:80px;margin-top:-50px">
									<span style="font-size:10px"> {{ comment.user_name}}  &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;{{comment.submit_date|date:"Y-m-j H:i" }}  <i style="margin-left:50px" class=" sf-icon-feather"></i> <a href="javascript:void(0);" onclick="addReply({{ comment.id}})">回复</a> </span> <br/>
									{{ comment.comment }} <hr/>
								</div>
							</div>
						  {%endif%}
						{%endfor%}
<!--end sub msg-->

<!-- add child comments--> 
<script src="/static/js/jquery-1.8.0.min.js"></script> 
						{%  for c in bbs_comments%}
							{% if c.ip_address%}
								<span id="child_id_{{c.id}}"> {{c.comment }} </span>
							  {%if c.web_user%}	
								<script  type="text/javascript">
								  $("<div id='{{ c.id}}' style='margin-top:0px;margin-left:50px'><img class='profile_photo_child_comment' src='/static/{{c.web_user.photo}}'/><span style='font-size:35px;'>|</span><div style='margin-left:50px;margin-top:-40px'><span style='font-size:10px'> {{ c.user_name}}  &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;{{c.submit_date|date:'Y-m-j H:i' }}  <i style='margin-left:50px' class=' sf-icon-feather'></i> <a href='javascript:void(0);' onclick='addReply({{ c.id}})'>回复</a> </span> <br/><p> </p> <hr/></div></div>").appendTo("#"+{{c.ip_address}});
								  $("#child_id_{{c.id}}").appendTo("#{{c.id}} p");
									//alert({{ c.ip_address}});
								 </script>
							  {%else%} 
								<script  type="text/javascript">
                                                                  $("<div id='{{ c.id}}' style='margin-top:0px;margin-left:50px'><i style='font-size:35px;' class='sf-icon-user-3' >|</i><div style='margin-left:50px;margin-top:-40px'><span style='font-size:10px'> {{ c.user_name}}  &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;{{c.submit_date|date:'Y-m-j H:i' }}  <i style='margin-left:50px' class=' sf-icon-feather'></i> <a href='javascript:void(0);' onclick='addReply({{ c.id}})'>回复</a> </span> <br/><p> </p> <hr/></div></div>").appendTo("#"+{{c.ip_address}});
                                                                  $("#child_id_{{c.id}}").appendTo("#{{c.id}} p");
                                                                        //alert({{ c.ip_address}});
                                                                 </script>
							  {%endif%}	
							{%endif%}
						{% endfor %}

<!--endof add child comments-->
					</div>
				</div>
				<div class="span3 offset1 blog-sidebar">
					<div class="category">
						<a href="javascript:void(0);" onclick="goBack()"><i class=" sf-icon-reply-all-1"> go back</i></a>
					</div>
				
	
					<h4>关于作者</h4>
					<ul class="category">
							<img class="profile_photo_intro" src="/static/{{bbs_obj.author.photo}}" />&nbsp;<span class="label label-warning">{{bbs_obj.author}}</span>
							{{bbs_obj.author.signature}}	
							<li></li>
							{{bbs_obj.author.class_name}}<br>
					</ul>

					<div>
						<h4>热门标签</h4>
						<hr class="small">
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript">

				$("#content_{{bbs_obj.id}}").load("/get_bbs_content/{{bbs_obj.id}}"); 
		        	function get_bbs(bbs_id){
                			//$.redirect('/bbs_detail/', {BBS_ID: bbs_id } );
        			}	

				function goBack()
				  {
				  window.history.back()
				  }
				function addReply(comment_id){
					var formExist = $('#'+comment_id + ' ' + '#sf-form' ).length;
					if(formExist == 0){
						$("#sf-form" ).clone().appendTo("#"+comment_id);
						$("<input type='hidden' value='" + comment_id + "' name='comment_id' />").appendTo( '#'+comment_id + ' ' + '#sf-form' );
					}else{
						$( '#'+comment_id + ' ' + '#sf-form' ).remove();
					}	
		
				}
	
				function agree(){
						if ( $("#agree_button").text() == "赞一个" ){
						   $.post('/add_agree/', {bbs_id: "{{bbs_obj.id}}", agree: 'YES'}).done(function(result){
                                                	$("#agree_count").html("("+ result + ")");
                                                	$("#agree_count").css("background-color", "#D0FA58");
                                                	$("#agree_count").css("font-size", "20px");
							$("#agree_button").text("取消赞");	
						   });
						}else {
						   $("#agree_button").text("赞一个");  
					                $.post('/add_agree/', {bbs_id: "{{bbs_obj.id}}", agree:'NO'}).done(function(result){
                                                	$("#agree_count").html("("+ result + ")");
                                                	$("#agree_count").css("background-color", "#D0FA58");
                                                	$("#agree_count").css("font-size", "20px");
						   });
						}
				}
		
				/*$(document).ready(function(){
					$('#agree').click(function(){
						alert('up');
					});

				}); */
		</script>

		{% endblock%}	
		<!-- footer -->
		<!-- end footer -->

		<!-- scripts>
		<script src="static/js/jquery-1.8.0.min.js"></script>
		<script src="static/js/jquery-ui-1.9.0.custom.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/selectnav.min.js"></script>
		<script src="static/js/jquery-easing.js"></script>
		<script src="static/js/jquery.lavalamp.min.js"></script>
		<script src="static/js/jquery.mobile.customized.min.js"></script>
		<script src="static/js/camera.min.js"></script>
		<script src="static/js/hoverIntent.js"></script>
		<script src="static/js/jquery.isotope.min.js"></script>
		<script src="static/js/jquery.animate-shadow-min.js"></script>
		<script src="static/js/bootstrap-datepicker.js"></script>
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/additional-methods.min.js"></script>
		<script src="static/js/jquery.colorbox-min.js"></script>
		<script src="static/js/jquery.bxslider.min.js"></script>
		<script src="static/js/modernizr.custom.97074.js"></script>
		<script src="static/js/jquery.hoverdir.js"></script>
		<script src="static/js/standard.js"></script>

		<script type="text/javascript">
			// The twitter accounts that will be included in the ticker
			var tweetUsers = ['speckyboy'];
		</script>

		<script src="static/js/jquery-twitter.js"></script>

		 end scripts -->

		</body>

</html>
