{%  extends 'index.html' %}
{%  load comments %}
<!DOCTYPE html>
<html>

		<body>
		{% block page-content%}
		<div class="container min-height">
			<div class="row-fluid">
				<div class="span8">
					<div class="blog-post">
						<div class="info">
							<a href="javascript:void(0);" onclick="goBack()"><i class=" sf-icon-reply-all-1"> go back</i></a>
							<h4>{{ bbs_obj.title }} <span style="font-size:12px" >|{{ bbs_obj.publish_date|date:"Y-m-j H:i" }} &nbsp;作者:{{bbs_obj.author}} </span> </h4>
							<p>
								{{bbs_obj.content}}
							</p>
						</div>
						<div class="bottom">
							<div class="pull-right">{% get_comment_count for bbs_obj as comment_count %}
								<i class="icon-calendar"></i> {{ bbs.publish_date|date:"Y-m-j H:i" }} <span class="marginlr5">|</span><i class="icon-comment"></i>评论({{ comment_count}})
								<span class="marginlr5">|</span><i class="icon-share"></i><a href="blog.html#">点赞(445)</a>
							</div>
						</div>
						
<!-- sub msg-->
						<form id="sf-form" action='/addcomment/' method="GET">
                                                <!--div class="row no-margin">
                                                        <div class="span4">
                                                                <select class="span12 sf-tooltip" id="inputGender" placeholder="Gender" rel="tooltip" data-placement="top" data-title="Gender">
                                                                        <option>游客</option>
                                                                        <option>female</option>
                                                                </select>
                                                        </div>
                                                </div-->
                                                        <div class="span4">
                                                                <input type="text" id="name" name="name" placeholder="Name" class="span12 required sf-tooltip" rel="tooltip" data-placement="top" data-title="Name">
                                                        </div>
                                                        <div class="span4">
                                                                <input type="text" id="email" name="email" placeholder="email" class="span12 required email sf-tooltip" rel="tooltip" data-placement="top" data-title="email">
							<input type="hidden" value="{{bbs_obj.id}}" name="bbs_id"> 
                                                        </div>
                                                <div class="row no-margin">
                                                        <div class="span12">
                                                                <textarea rows="3" id="comment" name="message" placeholder="Message..." class="span12 required sf-tooltip" rel="tooltip" data-placement="top" data-title="Message..."></textarea>
                                                        </div>

                                                </div>
                                                <button class="btn btn-success">
                                                       	发布 
                                                </button>
                                        	</form>
						{% render_comment_list for bbs_obj %}
<!--end sub msg-->
					</div>
				</div>
				<div class="span3 offset1 blog-sidebar">
					<div class="input-append">
						<input class="span8" id="appendedInputButtons" type="text">
						<button class="btn" type="button">
							Search
						</button>
					</div>
				
	
					<h4>关于作者</h4>
					<ul class="category">
							<img width=50 height=50 src="/static/img/wanxingming.jpg" />&nbsp;<span class="label label-warning">{{bbs_obj.author}}</span>
							{{bbs_obj.author.signature}}	
							<li></li>
							{{bbs_obj.author.class_name}}<br>
					</ul>

					<div>
						<h4>热门标签</h4>
						<hr class="small">
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
						<a href="blog.html#" class="label label-info">Category</a>
						<a href="blog.html#" class="label label-info">Beach</a>
						<a href="blog.html#" class="label label-info">Chair</a>
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript">
		        	function get_bbs(bbs_id){
                			//$.redirect('/bbs_detail/', {BBS_ID: bbs_id } );
        			}	

				function goBack()
				  {
				  window.history.back()
				  }
		</script>

		{% endblock%}	
		<!-- footer -->
		<!-- end footer -->

		<!-- scripts>
		<script src="static/js/jquery-1.8.0.min.js"></script>
		<script src="static/js/jquery-ui-1.9.0.custom.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/selectnav.min.js"></script>
		<script src="static/js/jquery-easing.js"></script>
		<script src="static/js/jquery.lavalamp.min.js"></script>
		<script src="static/js/jquery.mobile.customized.min.js"></script>
		<script src="static/js/camera.min.js"></script>
		<script src="static/js/hoverIntent.js"></script>
		<script src="static/js/jquery.isotope.min.js"></script>
		<script src="static/js/jquery.animate-shadow-min.js"></script>
		<script src="static/js/bootstrap-datepicker.js"></script>
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/additional-methods.min.js"></script>
		<script src="static/js/jquery.colorbox-min.js"></script>
		<script src="static/js/jquery.bxslider.min.js"></script>
		<script src="static/js/modernizr.custom.97074.js"></script>
		<script src="static/js/jquery.hoverdir.js"></script>
		<script src="static/js/standard.js"></script>

		<script type="text/javascript">
			// The twitter accounts that will be included in the ticker
			var tweetUsers = ['speckyboy'];
		</script>

		<script src="static/js/jquery-twitter.js"></script>

		 end scripts -->

		</body>

</html>
