{%  extends 'index.html' %}
{% load pagination_tags %}
{% load comments %}
<!DOCTYPE html>
<html>

		<body>
		{% block page-content%}

		<div class="container min-height">
			<div class="row-fluid">
				<div class="span8">
					{% autopaginate bbs_list 15 %}
					{% for bbs in bbs_list %}
					<div class="blog-post">
						<div class="info">
							<h4 style="background-color:{{bbs.color_type}}_cancel"><a style="text-decoration:none;" id="bbs_{{bbs.id}}" href="javascript:void(0);"   onclick="get_bbs('bbs_{{bbs.id}}' )">{{ bbs.title}}</a></h4>
						</div>
						<div class="bottom">
							<a href="blog.html#"><span class="label label-success">{{bbs.author  }}</span></a> {{ bbs.author.class_name}}
							<div class="pull-right">
								<i class="icon-calendar"></i> 发布: {{ bbs.publish_date|date:"Y-m-j H:i" }} 
								<span class="marginlr5">|</span><i class="icon-comment"></i>浏览({{bbs.view_count }})
								{% get_comment_count for bbs as comment_count %}
								<span class="marginlr5">|</span><i class=" sf-icon-comment-2"></i><a href="javascript:void(0);" onclick="get_bbs('bbs_{{bbs.id}}' )"> 评论({{ comment_count}})</a>
								<span class="marginlr5">|</span><i class=" sf-icon-thumbs-up-1"></i><a href="javascript:void(0);" onclick="get_bbs('bbs_{{bbs.id}}' )"> 赞({{ bbs.agree_count}})</a>
							</div>
						</div>
					</div>
					{% endfor%}
					<span align="center">{% paginate%}</span>
					<!--div class="blog-post">
						<div class="info">
							<h4 style="background-color:#FA8258">First blog post</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu posuere leo. Pellentesque a lobortis erat. Maecenas vel metus vitae urna sollicitudin eleifend a vel elit. Maecenas tincidunt ornare tellus, a mollis dui venenatis quis.
							</p>
						</div>
						<div class="bottom">
							<a href="blog.html#"><span class="label label-info">growth</span></a>
							<div class="pull-right">
								<i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm <span class="marginlr5">|</span><i class="icon-comment"></i><a href="blog.html#">3 Comments</a>
								<span class="marginlr5">|</span><i class="icon-share"></i><a href="blog.html#">39 Shares</a>
							</div>
						</div>
					</div-->
				</div>
				<div class="span3 offset1 blog-sidebar">
                                        <div class="category">
					<br/>
                                        <a href="/new_article/" class="button glow button-rounded button-flat-action" style="padding-left:30px;padding-right:30px;text-decoration:none;color:white">发 帖</a>
					</div>	
	
					<h4 class="font_style">近期热贴</h4>
					<hr class="small">
					<ul class="category">
						{% for hot_bbs in hot_list%}
						  <a style="text-decoration:none;" href="javascript:void(0);" onclick="get_bbs('bbs_{{hot_bbs.id}}' )"> {{ hot_bbs.title|truncatechars:30 }} </a><br/><br/>
						{%endfor%}
					</ul>

					<div>
						<h4 class="font_style" >最新评论</h4>
						<hr class="small">
						{% for comment in hot_comments%}
							{{ comment.submit_date|date:"m月j H:i"}} {{comment.user}} 
							<a style="text-decoration:none;" href="javascript:void(0);" onclick="get_bbs('bbs_{{comment.object_pk}}' )"><span style="font-size:12px">{{ comment.comment|truncatechars:35}} </span></a><br>
						{%endfor %}
						<!--a href="blog.html#" class="label label-info">Chair</a-->
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript">
		        	function get_bbs(bbs_id){
                			$.redirect('/bbs_detail/', {BBS_ID: bbs_id } );
        			}	
		</script>

		{% endblock%}	
		<!-- footer -->
		<!-- end footer -->

		<!-- scripts>
		<script src="static/js/jquery-1.8.0.min.js"></script>
		<script src="static/js/jquery-ui-1.9.0.custom.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/selectnav.min.js"></script>
		<script src="static/js/jquery-easing.js"></script>
		<script src="static/js/jquery.lavalamp.min.js"></script>
		<script src="static/js/jquery.mobile.customized.min.js"></script>
		<script src="static/js/camera.min.js"></script>
		<script src="static/js/hoverIntent.js"></script>
		<script src="static/js/jquery.isotope.min.js"></script>
		<script src="static/js/jquery.animate-shadow-min.js"></script>
		<script src="static/js/bootstrap-datepicker.js"></script>
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/additional-methods.min.js"></script>
		<script src="static/js/jquery.colorbox-min.js"></script>
		<script src="static/js/jquery.bxslider.min.js"></script>
		<script src="static/js/modernizr.custom.97074.js"></script>
		<script src="static/js/jquery.hoverdir.js"></script>
		<script src="static/js/standard.js"></script>

		<script type="text/javascript">
			// The twitter accounts that will be included in the ticker
			var tweetUsers = ['speckyboy'];
		</script>

		<script src="static/js/jquery-twitter.js"></script>

		 end scripts -->

		</body>

</html>
