<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>老男孩|BBS</title>

    <!-- Loading Bootstrap -->
    <link href="/static/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
    <link href="/static/Flat-UI-master/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">
 <link rel="stylesheet" href="/static/jquery-ui-1.10.4/themes/base/jquery-ui.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
<script src="/static/jquery-ui-1.10.4/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="login">
        <div class="login-screen">
          <div class="login-icon">
            <img src="/static/Flat-UI-master/images/icons/svg/clocks.svg" alt="Welcome to Mail App" />
            <h4>Welcome to <small>老男孩Linux</small></h4>
          </div>
	  
          <div class="login-form">
	  <form id="shakeForm" action="/account_login/" method="POST">
            <div class="form-group">
              <input type="text" class="form-control login-field" name="user" value="" placeholder="Enter your name" id="login-name" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field"  name="password" value="" placeholder="Password" id="login-pass" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
	     <button type="submit" class="btn btn-primary btn-lg btn-block">Log me in</button>
            <a class="login-link" href="#">Lost your password?</a>
	  </form>
	  {%if err%} 
		<script type="text/javascript">
			$( document ).ready(function() {
			  $( "#err" ).effect( "shake" );
			});
		</script><p id="err"  style="color:red;margin:center">{{err}} </p>
	  {%endif%}
          </div>
        </div>
      </div>

      
    </div> <!-- /container -->

    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="/static/Flat-UI-master/js/jquery-1.8.3.min.js"></script>
    <script src="/static/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/Flat-UI-master/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/Flat-UI-master/js/bootstrap.min.js"></script>
    <script src="/static/Flat-UI-master/js/bootstrap-select.js"></script>
    <script src="/static/Flat-UI-master/js/bootstrap-switch.js"></script>
    <script src="/static/Flat-UI-master/js/flatui-checkbox.js"></script>
    <script src="/static/Flat-UI-master/js/flatui-radio.js"></script>
    <script src="/static/Flat-UI-master/js/jquery.tagsinput.js"></script>
    <script src="/static/Flat-UI-master/js/jquery.placeholder.js"></script>
    <script src="/static/Flat-UI-master/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="/static/Flat-UI-master/js/application.js"></script>
<script src="/static/jquery-ui-1.10.4/ui/jquery-ui.js"></script>
  </body>
</html>

